{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% load static %}

{% block hero %}

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Shweta Antil</h1>
      <p>I'm <span class="typed" data-typed-items=" Web Designer, Developer, Freelancer, Photographer"></span></p>
    </div>
  </section><!-- End Hero -->


{% endblock hero %}

{% block main-content %}

<main id="main">

    <!-- ======= Start About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>This is a short blurb about me.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile1-img.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Web Designer &amp; Web Developer.</h3>
            <p class="fst-italic">
                I utilize my skills with Frontend Language, Backend Language with server and database to develop websites that meet all the requirements of the clients.
            </p>
            <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>19 oct 2002</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>9729859060</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Sonipat</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BCA</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                  </ul>
                </div>
              </div>
          </div>
        </div>

      </div>
    </section>
    <!-- ======== End About Section ========= -->

    <!-- ======= Start Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Skills</h2>
            <p>I'm skilled at computer programming. I know these languages, which I use to create websites and make them look great. I also understand coding concepts, so I can solve problems and create cool projects.</p>
          </div>

          <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">

              <div class="progress">
                <span class="skill">HTML & CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Bootstrap <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

              <div class="progress">
                <span class="skill">Python<i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Django <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Git & Github <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </section>

    <!-- ====End Skills Section====== ------>

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

          <div class="section-title">
            <h2>Resume</h2>
            <p>I'm eager to bring my positive attitude and dedication to a new opportunity where I can continue to learn and grow.</p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Shweta Antil</h4>
                <p><em>As a web designer and
                  developer, my objective is to
                  create user-friendly and
                  efficient websites that are
                  visually appealing and easy to
                  navigate with landing page. I
                  utilize my skills with Frontend
                  Language, Backend Language
                  with server and database to
                  develop websites that meet
                  all the requirements of the
                  clients.</em></p>
                <ul>
                  <li>Sonipat,Haryana</li>
                  <li>+91 9729859060</li>
                  <li>shwetaantil590@gmail.com</li>
                </ul>
              </div>

              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>12th</h4>
                <h5>2019 - 2020</h5>
                <p><em>Board of School Education Haryana</em></p>
              </div>
              <div class="resume-item">
                <h4>Bachelor's of Computer Application</h4>
                <h5>2020 - 2023</h5>
                <p><em>Hindu Institute of Management,Sonipat</em></p>
              </div>
              <div class="resume-item">
                <h4> Fullstack Web Development</h4>
                <h5>2023 - 2024</h5>
                <p><em>Techstack Instititue, Saket</em></p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Technical Skills</h3>
              <div class="resume-item">
                <h4> Languages &amp; Frameworks</h4>
                <ul>
                  <li>HTML & CSS</li>
                  <li>JAVASCRIPT</li>
                  <li>PYTHON</li>
                  <li>DJANGO</li>
                  <li>BOOTSTRAP</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4> Tools</h4>
                <ul>
                  <li>VS CODE</li>
                  <li>GIT</li>
                  <li>GITHUB</li>
                </ul>
              </div>
              <h3 class="resume-title">Internship</h3>
              <div class="resume-item">
                <h4>Orangus India Pvt.Ltd.</h4>
                <p> Internship as a Full stack web Development</p>
                <ul>
                  <li>Completed a Internship in Full stack web development, acquiring essential skills in web develoment.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </section>

    <!-- =====End Resume Section======== -->

    <!-- ======= Portfolio Section ======= -->
   <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>I have a collection of my best work to show what I can do. It includes projects I've done and things I've created that demonstrate my skills and abilities. Take a look, and you'll see the quality of my work and what I'm capable of.</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-1.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-1.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="https://situ-analog-clock.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-4.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bx bx-plus"></i></a>
              <a href="https://education-web-site.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-5.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-5.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="https://situ-todo-list-app.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-10.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-10.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-6.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-6.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="https://situ-notes.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-9.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-9.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-8.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-8.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 4"><i class="bx bx-plus"></i></a>
              <a href="https://shwetaantil-weather-app.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-7.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-7.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-2.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-2.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/portfolio-3.png' %}" class="img-fluid rounded" alt="">
            <div class="portfolio-links">
              <a href="{%static 'img/portfolio/portfolio-3.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 5"><i class="bx bx-plus"></i></a>
              <a href="https://mycalculator-pro.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section>
  <!-- ========End Portfolio Section========= -->



  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>I'm really good at helping people and making sure they're happy. I know how to solve problems and keep customers satisfied. Whether it's in person or online, I'm always ready to make things easy for everyone I work with.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">FRONTEND DEVELOPMENT</a></h4>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">LOGO DESIGN</a></h4>
          </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">BACKEND DEVELOPMENT</a></h4>
          </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">WEB DESIGNING</a></h4>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">DJANGO DEVELOPMENT</a></h4>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">
            FULL STACK DEVELOPMENT</a></h4>
        </div>
      </div>

    </div>
  </section>
  <!-- ======End Services Section========= -->



  <!-- ======= Contact Section ======= -->

  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact information....</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Sonipat</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>shwetaantil590@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>9729859060</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111721.206530009!2d77.00128180952302!3d28.949189917270807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390db00b8670400b%3A0x9efbd3cd589b645e!2sSonipat%2C%20Haryana%2C%20India!5e0!3m2!1sen!2sus!4v1689021093885!5m2!1sen!2sus" frameborder="0" style="border:0; width:100%; height:290px;"  allowfullscreen></iframe>
          </div>

        </div>



        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

          <form action ="" method="post" role="form" class="">
            {% csrf_token %}
            <div class="row">
              {% for message in messages %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}

              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter your name" class="form-control mt-2 p-2" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Email</label>
                <input type="email" class="form-control mt-2 p-2" placeholder="Enter your email" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Contact</label>
              <input type="text" class="form-control mt-2 p-2" placeholder="Enter your phone number" name="phone" id="contact" required>
            </div>
            <div class="form-group mt-3">
              <label for="name">Message</label>
              <textarea class="form-control mt-2 p-3" placeholder="Write your message" name="message" rows="10" required></textarea>
            </div>
            <div class="text-center"><button type="submit" class="button border-0 ">Submit</button></div>
          </form>

        </div>

      </div>

    </div>
  </section>
  <!-- ====End Contact Section===== -->


{% endblock main-content %}